h1, h5, h4, h3{
    margin: 0;
}

body, html {
    margin: 0;
    background-color: rgb(48, 48, 48);
}

#root {
    margin: 0;
    text-align: center;
}

.game--container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto 1fr 1fr .5fr;
    /* width: 100vw; */
    height: 100vh;
}

.values--container {
    display: flex;
    flex-direction: column;
    margin: 10px;
    justify-content: center;
    align-items: center;
}

.left {
    grid-column: 1;
    grid-row: span 3;
}
.right {
    grid-column: 3;
    grid-row: span 3;
}

.value--container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px 0px;
    flex-grow: 1;
    width: 100%;
    background-color: rgb(219, 186, 0);
    border-radius: 10px;
    border: 2px solid black;
}

.value {
    /* background-color: gray; */
    font-size: min(10px) max(50px);
    user-select: none; 
    color: black;
}
.playercase--container {
    grid-column: 2;
    grid-row: 1;
}

.playercase {
    color: whitesmoke;
    user-select: none;
}

.cases--container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    grid-column: span 3;
    grid-row: 4;
    user-select: none; 
}

.chosen {
    background-color: rgb(78, 66, 0);
}

.open, .players{
    opacity: 50%;
}

.case--container {
    flex: 0 0 10%;
    border-radius: 10px;
    margin: 1px;
    padding: 10px;
    width: 50px;
    background: black;
    color: goldenrod;
}

.display--container {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2;
    grid-row: span 2;
}

.dealer--price {
    color: white
}

.deal-button--container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.deal-button--container > h3 {
    margin: 10px;
}

.deal--button {
    padding: 20px 30px;
    border-radius: 10px;
    border-color: none;
}

.deal {
    background-color: green;
}

.nodeal {
    background-color: red;
}

